@model CreateOrderViewModel

@{
    ViewBag.Title = "Завърши поръчка";
}

<h2>Завърши поръчка</h2>

<form method="post">
    <h3>Лични данни:</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="FirstName">Име:</label>
                <p>@Model.UserDetails.FirstName<p />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="LastName">Фамилия:</label>
                <p>@Model.UserDetails.LastName<p />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Email">Е-поща:</label>
                <p>@Model.UserDetails.Email<p />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="PhoneNumber">Телефон:</label>
                <p>@Model.UserDetails.PhoneNumber<p />
            </div>
        </div>
    </div>

    <h3>Данни за адрес:</h3>
    @if (ViewBag.HasAddress)
    {
        <div class="form-group">
            <label for="AddressName">Адрес: </label>
            <p>@Model.UserAddress!.Name<p />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Town">Град: </label>
                    <p>@Model.UserAddress.Town<p />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ZipCode">Пощенски код:</label>
                    <p>@Model.UserAddress.ZipCode<p />
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <label for="AddressName">Адрес</label>
            <input type="text" class="form-control" id="AddressName" name="AddressName" required>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Town">Град</label>
                    <input type="text" class="form-control" id="Town" name="Town" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ZipCode">Пощенски код</label>
                    <input type="text" class="form-control" id="ZipCode" name="ZipCode" required>
                </div>
            </div>
        </div>
    }

    <h3>Съдържание на количката:</h3>
    <div class="container">
        <div class="cart-container">
            <table class="table" style="overflow-x: hidden;">
                <thead>
                    <tr>
                        <th style="left: 50px; position: relative;">Артикул</th>
                        <th class="text-center align-middle">Количество</th>
                        <th class="text-center align-middle">Единична цена</th>
                        <th class="text-center align-middle">Общо за артикула</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr class="cart-item">
                            <td><img src="@product.ImageUrl" alt="@product.Name" style="max-width: 100px; max-height: 100px;" />   <span>@product.Name</span></td>
                            <td class="text-center align-middle">@product.Quantity</td>
                            <td class="text-center align-middle">@product.Price.ToString("C")</td>
                            @{
                                decimal? totalProductPrice = product.Price * product.Quantity;
                                string formattedTotalProductPrice = string.Format("{0:C}", totalProductPrice);
                            }
                            <td class="text-center align-middle">@formattedTotalProductPrice</td>
                        </tr>
                    }
                </tbody>
                <tfoot style="overflow-x: hidden;">
                    <tr>
                        <th colspan="2"></th>
                        <th style="right: -17px; position:relative">Обща сума:</th>
                        @{
                            decimal? overallPrice = Model.Products.Sum(p => p.Price * p.Quantity);
                            string formattedOverallPrice = string.Format("{0:C}", overallPrice);
                        }
                        <th class="text-center align-middle" style="position:relative;">@formattedOverallPrice</th>
                    </tr>
                    @{
                        decimal? deliveryPrice = 5.50m;
                        decimal? finalSum = overallPrice + deliveryPrice;
                    }
                    <tr>
                        <th colspan="2"></th>
                        <th style="right: -17px; position:relative">Цена на доставката:</th>
                        <th class="text-center align-middle" style="position:relative;">@String.Format("{0:C}", deliveryPrice)</th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                        <th style="right: -17px; position:relative">Общо:</th>
                        <th class="text-center align-middle" style="position:relative;">@String.Format("{0:C}", finalSum)</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <button style="width: 800px" type="submit" class="btn btn-primary" asp-route-hasAddress="@ViewBag.HasAddress" asp-route-totalSum="@finalSum">Завърши поръчката</button>
    </div>
    @Html.AntiForgeryToken()
</form>