@model List<CategoryViewModel>

@{
    ViewBag.Title = "Категории";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="category-grid">
    <div class="row justify-content-evenly">
        @foreach (var category in Model)
        {
            <div class="col-md-4 mb-4" style="height: 325px; width: 325px; column-gap: 200px;">
                <form method="post" asp-controller="Product" asp-action="FilterProducts" asp-route-categoryId="@category.Id" class="category-form">
                    <input type="hidden" name="categoryId" value="@category.Id" />
                    <button type="submit" class="category-button">
                        <img src="@category.ImageUrl" alt="@category.Name">
                        <h2 class="center">@category.Name</h2>
                    </button>
                </form>
            </div>
        }
    </div>
