@model AddressViewModel
@{
    ViewBag.Title = "Редакция на адрес";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <partial name="_ManageNav" />
    </nav>
    <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        @if (Model != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Адрес</th>
                        <th>Град</th>
                        <th>Пощенски код</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Name</td>
                        <td>@Model.Town</td>
                        <td>@Model.ZipCode</td>
                        <td>
                            <a asp-controller="Profile" asp-action="EditAddress" asp-route-addressId="@Model.Id">Редактирай</a> |
                            <a asp-controller="Profile" asp-action="DeleteAddress" asp-route-addressId="@Model.Id">Изтрий</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <a style="margin-top: 5px;" class="btn btn-primary" asp-controller="Profile" asp-action="AddAddress">Добави адрес</a>
        }
    </div>
</div>
