@model List<OrderHistoryViewModel>

<h2>Order History</h2>

<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <partial name="_ManageNav" />
</nav>
<table class="table">
    <thead>
        <tr>
            <th>Поръчка №</th>
            <th>Статус</th>
            <th>Дата</th>
            <th>Всичко</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.DeliveryStatus</td>
                <td>@order.OrderDate</td>
                <td>@order.TotalPrice.ToString("C")</td>
                <td>
                    <a asp-controller="Order" asp-action="Details" asp-route-orderId="@order.Id">Детайли</a>
                </td>
            </tr>
        }
    </tbody>
</table>