@model ExtendedProductViewModel

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Name" style="max-width: 100%;" />
        </div>
        <div class="col-md-6">
            <h2>@Model.Name</h2>
            <p>№: @Model.Barcode</p>
            <p>Категория: <a asp-action="ProductsByCategory" asp-controller="Product" asp-route-categoryId="@Model.Category.Id">@Model.Category.Name</a></p>
            <p>Производител: <a asp-action="ProductsByManufacturer" asp-controller="Product" asp-route-manufacturerId="@Model.Manufacturer.Id">@Model.Manufacturer.Name</a></p>
            <p>Цена: @Model.Price.ToString("C")</p>
            @{
                if (Model.Stock > 0)
                {
                    <p>В наличност</p>
                    <form asp-action="Add" asp-controller="Cart" method="post" asp-route-categoryId="@Model.Category.Id">
                        <input type="hidden" name="productId" value="@Model.Id" />
                        <input type="hidden" name="userId" value="@User.GetId()" />
                        <input type="number" name="quantity" value="1" />
                        <button type="submit">Добави в количката</button>
                    </form>
                }
                else
                {
                    <p>В момента избраният продукт не е в наличност!</p>
                }
            }
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <h3>Описание</h3>
            <p>@Model.Description</p>
        </div>
    </div>
</div>