<form id="filter-form" method="get" asp-controller="Product" asp-action="FilterProducts">
    <div>
        <label for="keyword">Ключова дума:</label>
        <input type="text" id="keyword" name="keyword" value="@Model.Keyword" />
    </div>
    <div>
        <label for="category-dropdown">Категория:</label>
        <select id="category-dropdown" name="categoryId" value="@Model.CategoryId">
            <option value="">Всички категории</option>
            @foreach (var category in Model.FilteredProducts.Categories)
            {
                <option value="@category.Id" selected="@(Model.CategoryId == category.Id)">@category.Name</option>
            }
        </select>
    </div>
    <div>
        <label for="manufacturer-dropdown">Марка:</label>
        <select id="manufacturer-dropdown" name="manufacturerId" value="@Model.ManufacturerId">
            <option value="">Всички марки</option>
            @foreach (var manufacturer in Model.FilteredProducts.Manufacturers)
            {
                <option value="@manufacturer.Id" selected="@(Model.ManufacturerId == manufacturer.Id)">@manufacturer.Name</option>
            }
        </select>
    </div>
    <div>
        <button type="button" id="clear-filters-button">Премахни филтрите</button>
        <button type="submit">Приложи филтрите</button>
    </div>
</form>