<div class="container mt-5">
    <div class="row">
        @if (Model.FilteredProducts.Products.Count > 0)
        {
            @foreach (var product in Model.FilteredProducts.Products)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <a asp-controller="Product" asp-action="GetSelectedProduct" asp-route-productId="@product.Id">
                                <img src="@Url.Content(product.ImageUrl)" class="card-img-top product-image" alt="@product.Name">
                                <div class="card-body product-card-body">
                                    <h5 class="card-title">@product.Name</h5>
                                    <p class="card-text">@product.Price.ToString("C")</p>
                                </div>
                            </a>
                            <partial name="_AddToCartPartial" model="@product" class="card-button" />
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h2>Няма намерени продукти, които да съвпадат със зададените критерии!</h2>
        }
    </div>
</div>